# Lista de Exercícios 01

## 1. Escolha e baixe um conjunto de dados da plataforma Kaggle (https://www.kaggle.com/datasets), que tenha ao menos um atributo numérico. Carregue os dados através da biblioteca Pandas ou Dask. 

### Data Set = https://www.kaggle.com/aditeloo/student-study-hour-v2

In [2]:
%matplotlib inline
import pandas as pd

In [3]:
df = pd.read_csv('student_study_hour.csv')
df.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

## 2. Exiba as 20 primeiras linhas do conjunto de dados selecionado.

In [4]:
df.head(20)

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69

## 3. Exiba o número de linhas de dados presentes no conjunto de dados selecionado.

In [5]:
df.shape[0]

28

## 4. Exiba a média, o desvio padrão, e os valores mínimo e máximo de um campo numérico do conjunto de dados selecionado.

### Campo numérico: Hours

In [6]:
df.describe()

           Hours     Scores
count  28.000000  28.000000
mean    4.832143  49.964286
std     2.530562  25.041421
min     1.100000  17.000000
25%     2.675000  29.250000
50%     4.650000  44.500000
75%     7.025000  70.500000
max     9.200000  95.000000

In [7]:
meanHours = df['Hours'].mean()
meanHours

4.832142857142856

In [8]:
stdHours = df['Hours'].std()
stdHours

2.53056187164894

In [9]:
minHours = df['Hours'].min()
minHours

1.1

In [10]:
maxHours = df['Hours'].max()
maxHours

9.2

## 5. Exiba as 5 primeiras linhas do conjunto de dados ordenado em ordem decrescente pelo mesmo campo numérico usado por você na questão 4.

### Campo numérico: Hours

In [11]:
df.sort_values('Hours', ascending=False).head(5)

    Hours  Scores
6     9.2      88
15    8.9      95
3     8.5      75
8     8.3      81
24    7.8      86